<div class="case-main-container">

    <app-sidenav></app-sidenav>
    <div class="case-main-content">
    
        <div class="case-main-header" *ngIf="!showAddDocente">
            <h1>PNF</h1>
    
            <div class="buscar" >
                <app-search></app-search>
                <button class="add-case" (click)="showAddPNFForm()" >
                  Registrar PNF
                </button>
               
              </div>
            </div>
            <div *ngIf="!showAddDocente">
                <app-pnf-table (onSelected)="ondataSelected($event)"></app-pnf-table>
            </div>
            <div *ngIf="showAddDocente" >
              <app-pnf-add  (goBack)="hideAddDocenteForm()" [pnfSelected]="dataSelected" ></app-pnf-add>
            </div>
          
    
    </div>
    
</div>