<div class="case-main-container">

    <!--app-sidenav></app-sidenav-->
    <div class="case-main-content" >
    
        <div class="archivo-main-header">
            <button class="back-button" (click)="onGoBack()">atrás</button>
            
        </div>
       
        <app-form-archivo  (goBack)="hideAddArchivoForm()" ></app-form-archivo>
        <!--
            <app-tabs (onSelected)="onSelected($event) "></app-tabs>
            <app-form-case *ngIf="activeTabId == 0"
             [casoSelected]="casoSelected" (goBack)="hideAddUserForm()"  ></app-form-case>
            
              
             <app-form-avances *ngIf="activeTabId == 1" (goBack)="hideAddUserForm()"
             ></app-form-avances>
             
             <app-form-cerrar-caso *ngIf="activeTabId == 2" (goBack)="hideAddUserForm()"
             ></app-form-cerrar-caso>
             
             <app-form-case *ngIf="activeTabId == 3"
              [casoSelected]="casoSelected" (goBack)="hideAddUserForm()"  ></app-form-case -->
             
               
              
           
    
    </div>
    
    </div>