<div class="reportes-form-container">

    <form>
      <div class="form-grid">
        <!-- Column 1 -->
        <div class="form-column-one">
          <div class="form-group">
            <label for="tipo_reporte">Tipo de Reporte</label>
            <select id="tipo_reporte" formControlName="tipo_reporte">
              <option value="">Seleccionar</option>
              <!-- Add options here -->
            </select>
        
        </div>
        </div>

        <div class="form-column">
            <div class="form-group">
              <label for="startDate">Fecha Inicio</label>
              <input id="startDate" type="date" formControlName="startDate">
        </div>
    </div>

        <div class="form-column">
            <div class="form-group">
              <label for="endDate">Fecha Final</label>
              <input id="endDate" type="date" formControlName="startDate">
        </div>
    </div>

</div>
    </form>

</div>