<div class="case-main-container">
    <app-sidenav></app-sidenav>
    <div class="case-main-content">
    
        <div class="case-main-header" *ngIf="!showAddDocente" >
            <h1>Estructura</h1>
        </div>
          <div *ngIf="!showAddDocente" class="table-container_">
            <app-estruct-table (onSelected)="ondataSelected($event) "  (eventoParaElPadre)="showAddDocenteForm()"></app-estruct-table>
          </div>
          
          <div *ngIf="showAddDocente" >
            <app-estruct-add (goBack)="hideAddDocenteForm()" [docenteSelected]="dataSelected"></app-estruct-add>
          </div>
    </div>
    
</div>