<div class="table-container">
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Tipo Reporte</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            <!--div 
          <tr *ngFor="let usuario of usuarios">
            <td >{{ usuario.cedula }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.correo }}</td>
            <td>{{ usuario.rol }}</td>
            <td><button class="edit" (click)="editarUsuario(usuario)">✏️</button></td>
            
          </tr>-->
        </tbody>
      </table>
      
      <!--div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
      </div-->

</div>