<nav class="tabs">
  <button class="tab active">Agregar Usuario</button>
</nav>

<div class="user-form-container">
    <form [formGroup]="valForm"    (ngSubmit)="onSubmit()">
        <div class="form-grid2">
          <!-- Column 1 -->
          <div class="form-column">
        <div class="form-group">
          <label for="nombre">Nombre *</label>
          <input
            type="text"
            id="nombre"  
            name="nombre"
            formControlName="nombre"
            required
          />
        </div>
  


        <div class="form-group">
          <label for="cedula">Cedula </label>
          <input
            type="text"
            id="cedula"
       
            name="cedula"
            formControlName="cedula"
            required
          />
        </div>
        <div class="form-group">
          <label for="usuario">Nombre de Usuario *</label>
          <input
            type="text"
            id="usuario"
            
            name="usuario"
            formControlName="usuario"
            required
          />
        </div>

      </div>
      <div class="form-column">

        <div class="form-group">
          <label for="apellido">Apellido *</label>
          <input
            type="text"
            id="apellido"
            
            name="apellido"
            formControlName="apellido"
            required
          />
        </div>
        <div class="form-group">
          <label for="correo">Correo </label>
          <input
            type="text"
            id="correo"
            
            name="correo"
            formControlName="correo"
            required
          />
        </div>

        <div class="form-group">
          <label for="contrasena">Contraseña *</label>
          <input
            type="text"
            id="contrasena"
            
            name="contrasena"
            formControlName="contrasena"
            required
          />
        </div>
      </div>
    </div>
    

      <div class="button-group-user">
        <button type="submit" [disabled]="valForm.invalid " class="btn-primary"
        >Guardar</button>
        <button type="button" class="btn-secondary" (click)="onGoBack()">Cancelar</button>
      </div>
    </form>
  </div>