
<div class="case-main-container">

    <app-sidenav></app-sidenav>
    <div class="case-main-content">
    
        <div class="reporte-main-header">
            <h1> Reportes</h1>
            
            <div class="buscar">
                <app-reportes-form></app-reportes-form>
                <button class="add-case" >
                  Generar
                </button>
              </div>
            </div>

              <app-reportes-table></app-reportes-table>
              
    
    </div>
    
    </div>