<nav class="tabs">
  <button
    class="tab"
    (click)="changeTab(tabs.serial)"
    [class.active]="activeTabId === tabs.serial"
  >
    Seriales Equipos Robados
  </button>
  <button
    class="tab"
    (click)="changeTab(tabs.amonestado)"
    [class.active]="activeTabId === tabs.amonestado"
  >
    Personal Amonestado-Desincorporado
  </button>
</nav>

<div class="case-form-container">
  <form [formGroup]="archivoForm" (ngSubmit)="onSubmit()">
    <div class="form-grid">
      <!-- Column 1 -->
      <div class="form-column">
        <div class="form-group">
          <label for="serial">Serial</label>
          <input
            type="text"
            id="serial"
            name="serial"
            formControlName="serial"
            required
          />
        </div>

        <div class="form-group">
          <label for="modelo">Modelo</label>
          <input
            id="modelo"
            type="text"
            name="modelo"
            formControlName="modelo"
            required
          />
        </div>

        <div
          class="form-group"
          *ngIf="archivoForm.get('tipo')?.value === 'amonestado'"
        >
          <label for="nombre">Nombre</label>
          <input
            id="nombre"
            type="text"
            name="nombre"
            formControlName="nombre"
            required
          />
        </div>
      </div>

      <!-- Column 2 -->
      <div class="form-column">
        <div class="form-group">
          <label for="tipo">Tipo</label>
          <select name="tipo" id="tipo" formControlName="tipo" required>
            <option value="serial">SerialEquiposRobados</option>
            <option value="amonestado">Amonestado</option>
          </select>
        </div>

        <div class="form-group">
          <label for="observacion">Observación</label>
          <input
            id="observacion"
            type="text"
            name="observacion"
            formControlName="observacion"
            required
          />
        </div>
        <div
          class="form-group"
          *ngIf="archivoForm.get('tipo')?.value === 'amonestado'"
        >
          <label for="apellido">Apellido</label>
          <input
            id="apellido"
            type="text"
            name="apellido"
            formControlName="apellido"
            required
          />
        </div>
      </div>

      <!-- Column 3 -->
      <div class="form-column">
        <div class="form-group">
          <label for="marca">Marca</label>
          <input
            id="marca"
            type="text"
            name="marca"
            formControlName="marca"
            required
          />
        </div>

        <div
          class="form-group"
          *ngIf="archivoForm.get('tipo')?.value === 'amonestado'"
        >
          <label for="cedula">Cédula</label>
          <input
            id="cedula"
            type="number"
            name="cedula"
            formControlName="cedula"
            required
          />
        </div>

        <div class="form-group">
          <label for="empresa">Empresa</label>
          <input
            id="empresa"
            type="text"
            name="empresa"
            formControlName="empresa"
            required
          />
        </div>
      </div>
    </div>

    <div class="button-group-case">
      <button type="submit" class="btn-primary">Guardar</button>
      <button type="button" class="btn-secondary" (click)="onCancel()">
        Cancelar
      </button>
    </div>
  </form>
</div>