<div class="logout">
  
    <button class="btn btn-success register" (click)="notificarCrearDocente()">
        Registrar
    </button>

</div>

<div class="table-container">
  <div class="table-scroll">
    
    <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Acciones</th>
      
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of getEntidadesPaginaActual()">
            
            <td >{{x.id}} </td>
            <td >{{x.name}} </td>
   
            <td>
              <button class="edit" (click)="editarpnf(x)">✏️</button>
              <button class="edit" (click)="deletepnf(x)">❌</button>
            </td>
           
          </tr>
        </tbody>
    </table>
  
  </div>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
      </div>
</div>