<div class="table-container">
    <table>
        <thead>
          <tr>
            <th>CI
               <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'ci')">
            </th>
            <th>Docente
              <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'nombre')">
            </th>
            <th>Telefono
              <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'tlf')">
            </th>
            <th>Fecha de Nacimiento</th>
            <th>Edad </th>
            <th>Sexo
              <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'sexo')">
            </th>
            <th>Correo 
              <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'email')">
            </th>
            <th>Cargo de Responsabilidad</th>
            <th>PNF 
              <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'pnf')">
            </th>
            <th>Carga Académica Nominal 
              <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'carga_acad')">
             </th>
            <th>Trayecto 
              <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'trayecto')">
            </th>
            <th>Sede 
              <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'sede')">
            </th>
            <th>Profesion-Especialidad 
              <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'profesion')">
            </th>
            <th>Estado 
              <input clas type="text" placeholder="Filtrar..." (input)="onFilterChange($event, 'status')">
            </th>
            <th>Acciones</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of filteredDocentes">
            <td >{{ x.ci }}</td>
            <td>{{ x.nombre }}</td>
            <td>{{ x.tlf }}</td>
            <td>{{ x.fechaNac }}</td>
            <td>{{ calculoEdad(x.fechaNac)}}</td>
            <td>{{ x.sexo }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.carga_resp }}</td>
            
            <td>{{ x.pnf }}</td>
            <td>{{ x.carga_acad }}</td>
            <td>
              {{getTrayecto(x.trayecto)}}
            </td>
            <td>
              {{getSede(x.sede)}}
            </td>
            <td>{{ x.profesion  }}</td>
            <td>{{ x.status  }}</td>
            
            <td><button class="edit" (click)="editarDocente(x)">✏️</button></td>
          </tr>
        </tbody>
      </table>
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
      </div>
</div>